# S&P 500 Market Segmentation

In [1]:
# Import Required Packages
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

## Data Preparation

In [2]:
# Read the dataset, parsing dates
df = pd.read_csv('/home/thuwarakesh/projects/Stock-Clusters/data.csv', index_col=0, parse_dates=['Date'])

In [3]:
df.head() #Head Check

,SNA,KO,WM,HLT,JEC,MRK,PSA,MYL,VTR,PH,...,GPS,CA,UNH,WMB,HCA,ETN,HOLX,ACN,CMCSA,AZO
Date,,,,,,,,,,,,,,,,,,,,,
2012-11-02,-0.005305,-0.006697,-0.025152,NaN,-0.017984,0.001306,0.003003,-0.008111,0.011185,-0.017806,...,-0.015147,-0.008204,-0.015803,-0.018403,0.021993,-0.007864,-0.007122,-0.013366,0.001598,0.006757
2012-11-05,0.008381,-0.008360,0.003419,NaN,0.024504,-0.007174,-0.001853,0.006231,-0.014956,0.006673,...,0.007405,0.003048,-0.013738,0.004233,0.050864,0.026220,-0.000478,-0.000442,-0.004786,0.000836
2012-11-06,0.005667,0.017677,-0.001549,NaN,0.031470,0.005474,0.007069,0.006966,0.010754,0.005753,...,0.016115,-0.002170,0.020080,0.007528,-0.040335,-0.001386,-0.003349,0.012227,-0.006946,0.005297
2012-11-07,-0.029552,-0.018706,-0.009618,NaN,-0.031242,-0.031794,0.016379,-0.007686,0.003286,-0.036931,...,-0.018920,-0.026098,-0.037773,-0.018231,0.094407,-0.017255,-0.023524,-0.030272,-0.015873,-0.002310
2012-11-08,-0.005935,-0.009804,-0.008459,NaN,-0.018141,-0.013945,-0.009907,-0.006584,-0.010761,0.013815,...,-0.033749,-0.014739,-0.015112,-0.019787,-0.046972,-0.013522,-0.013274,-0.010206,-0.010388,-0.014049

In [4]:
df.describe() # Description of the dataset

,SNA,KO,WM,HLT,JEC,MRK,PSA,MYL,VTR,PH,...,GPS,CA,UNH,WMB,HCA,ETN,HOLX,ACN,CMCSA,AZO
count,1259.000000,1259.000000,1259.000000,979.000000,1259.000000,1259.000000,1259.000000,1259.000000,1259.000000,1259.000000,...,1259.000000,1259.000000,1259.000000,1259.000000,1259.000000,1259.000000,1259.000000,1259.000000,1259.000000,1259.000000
mean,0.000626,0.000201,0.000753,0.000613,0.000420,0.000220,0.000371,0.000505,-0.000001,0.000737,...,-0.000050,0.000359,0.001115,0.000315,0.000888,0.000496,0.000591,0.000651,0.000589,0.000419
std,0.012274,0.008828,0.008739,0.014567,0.014859,0.012068,0.011120,0.021199,0.014458,0.013575,...,0.019916,0.012598,0.012646,0.029544,0.016792,0.014228,0.015302,0.011839,0.011822,0.012363
min,-0.073877,-0.060291,-0.049362,-0.067435,-0.082476,-0.060611,-0.056079,-0.180451,-0.235743,-0.071046,...,-0.166070,-0.102453,-0.056461,-0.348131,-0.107814,-0.081303,-0.104367,-0.102967,-0.062424,-0.118410
25%,-0.005960,-0.004278,-0.003884,-0.007320,-0.007934,-0.006012,-0.006249,-0.010317,-0.006020,-0.006471,...,-0.009558,-0.006265,-0.005728,-0.009874,-0.007972,-0.007181,-0.007087,-0.005411,-0.006180,-0.006056
50%,0.000644,0.000240,0.000857,0.000503,0.000732,0.000158,0.000655,0.000875,0.001075,0.000632,...,0.000755,0.000912,0.000810,0.000318,0.000617,0.000442,0.001289,0.000888,0.000915,0.000256
75%,0.007434,0.004949,0.005704,0.008991,0.008987,0.006659,0.006790,0.010263,0.007642,0.007756,...,0.009176,0.007096,0.007665,0.010076,0.009703,0.008547,0.008465,0.006817,0.007336,0.006928
max,0.077593,0.056872,0.051667,0.061424,0.098420,0.104080,0.044721,0.162004,0.050116,0.066428,...,0.152327,0.133629,0.069037,0.343865,0.104691,0.083696,0.085128,0.067566,0.059535,0.061233

Some of the Columns do not have complete data
In the next step we remove the incomplete data columns (Excluding some newer companies)

In [5]:
# Check for number of companies with larger missing values 
df.apply(lambda x: sum(x.isna())).sort_values(ascending=False)

FTV      923
CSRA     765
HPE      745
UA       674
KHC      671
PYPL     671
WRK      664
QRVO     545
BHF      531
CFG      476
SYF      438
INFO     409
NAVI     366
HLT      280
ALLE     263
EVHC     196
NWS      157
NWSA     157
COTY     153
IQV      129
ZTS       62
NCLH      53
ABBV      41
SNI        2
COP        1
CHD        1
MCO        1
AOS        1
TIF        1
BBY        1
        ...
ALXN       0
DISCK      0
PVH        0
BSX        0
ATVI       0
RMD        0
HAS        0
PNR        0
C          0
LLY        0
AET        0
TXN        0
MMC        0
HSIC       0
CTL        0
IR         0
VMC        0
MKC        0
GLW        0
MCK        0
DLR        0
RSG        0
FIS        0
ADM        0
ECL        0
A          0
GOOGL      0
AWK        0
LYB        0
SNA        0
Length: 502, dtype: int64

In [6]:
# Removing 22 Companies with larger missing values
df = df[list(df.apply(lambda x: sum(x.isna())).sort_values(ascending=False)[23:].index)]

In [7]:
df = df.dropna() # Removing na values in data

In [8]:
df.describe()

,SNI,COP,CHD,MCO,AOS,TIF,BBY,JPM,NLSN,DHI,...,DLR,RSG,FIS,ADM,ECL,A,GOOGL,AWK,LYB,SNA
count,1248.000000,1248.000000,1248.000000,1248.000000,1248.000000,1248.000000,1248.000000,1248.000000,1248.000000,1248.000000,...,1248.000000,1248.000000,1248.000000,1248.000000,1248.000000,1248.000000,1248.000000,1248.000000,1248.000000,1248.000000
mean,0.000354,0.000124,0.000553,0.000983,0.001206,0.000440,0.001442,0.000776,0.000347,0.000802,...,0.000695,0.000744,0.000901,0.000402,0.000585,0.000861,0.001045,0.000785,0.000749,0.000664
std,0.014624,0.017857,0.009630,0.014305,0.014079,0.015650,0.026575,0.012842,0.013311,0.019623,...,0.014387,0.008852,0.012030,0.014257,0.010890,0.013731,0.013829,0.010091,0.017738,0.012249
min,-0.075941,-0.092116,-0.066243,-0.106594,-0.078629,-0.139584,-0.285866,-0.069477,-0.168942,-0.115323,...,-0.152680,-0.064641,-0.122857,-0.088782,-0.073550,-0.080393,-0.054141,-0.047612,-0.119276,-0.073877
25%,-0.006850,-0.008979,-0.004543,-0.005703,-0.006241,-0.008080,-0.009608,-0.005685,-0.006576,-0.009580,...,-0.006107,-0.003807,-0.004841,-0.006783,-0.005013,-0.006758,-0.005744,-0.004761,-0.008164,-0.005912
50%,0.000353,0.000000,0.000802,0.001253,0.001375,0.000755,0.001182,0.000640,0.000000,0.000402,...,0.001363,0.000872,0.001095,0.000828,0.000752,0.000690,0.000577,0.001261,0.000943,0.000653
75%,0.007207,0.008478,0.006221,0.008200,0.008719,0.008976,0.013343,0.007654,0.007680,0.011225,...,0.009016,0.005933,0.007048,0.008231,0.006623,0.008903,0.007725,0.006987,0.010598,0.007427
max,0.147270,0.096993,0.043077,0.082910,0.077005,0.105343,0.214796,0.083286,0.061918,0.117785,...,0.054367,0.048008,0.087291,0.054821,0.049636,0.086862,0.162584,0.052986,0.078834,0.077593

In [9]:
df = df.T # Transpose the dataset to make it a multivariate time series

## 1. K-Means Clustering

In [10]:
from sklearn.cluster import KMeans

In [ ]:
l = []

In [ ]:
for i in range(2,75):
    model = KMeans(n_clusters=i).fit(df)
    d = {
        'model':model,
        'ss': model.inertia_,
        'nclusters': i,
    }
    l.append(d)

In [ ]:
elbow = [i['ss'] for i in l]
elbow_ticks = [i['nclusters'] for i in l]
ss = pd.Series(elbow, index=elbow_ticks)

In [ ]:
ss.plot()

In [13]:
model = KMeans(n_clusters=5).fit(df)
labels_kmeans_5 = model.labels_

In [ ]:
model = KMeans(n_clusters=10).fit(df)
labels_kmeans_10 = model.labels_

In [ ]:
model = KMeans(n_clusters=15).fit(df)
labels_kmeans_15 = model.labels_

## 2. Agglomorative (Hiarachical) Clustering

In [14]:
from sklearn.cluster import AgglomerativeClustering

In [41]:
model = AgglomerativeClustering(linkage='ward', n_clusters=5).fit(df)
labels_agglomorative_ward_5 = model.labels_

In [41]:
model = AgglomerativeClustering(linkage='ward', n_clusters=10).fit(df)
labels_agglomorative_ward_10 = model.labels_

In [41]:
model = AgglomerativeClustering(linkage='ward', n_clusters=15).fit(df)
labels_agglomorative_ward_15 = model.labels_

## 3. Gaussian Mixture Models

In [23]:
from sklearn.mixture import GaussianMixture

In [24]:
def clust(df, comp, cov_type):
    gmix = GaussianMixture(n_components=comp,
                           covariance_type=cov_type, # 'spherical', 'diag', 'tied', 'full'
                           max_iter=25, 
                           random_state=0)

    gmix.fit(df.T)

    labels_gmix = gmix.predict(df.T)

    return labels_gmix, gmix.bic(df.T)

In [ ]:
l = []
for i in range(1,25):
    l.append(clust(df.T, i, 'spherical')) # 'spherical', 'diag', 'tied', 'full'

pd.DataFrame(l)[1].plot()

In [ ]:
l = []
for i in range(1,25):
    l.append(clust(df.T, i, 'diag')) # 'spherical', 'diag', 'tied', 'full'

pd.DataFrame(l)[1].plot()

In [ ]:
l = []
for i in range(1,25):
    l.append(clust(df.T, i, 'tied')) # 'spherical', 'diag', 'tied', 'full'

pd.DataFrame(l)[1].plot()

In [ ]:
l = []
for i in range(1,25):
    l.append(clust(df.T, i, 'full')) # 'spherical', 'diag', 'tied', 'full'

pd.DataFrame(l)[1].plot()

In [28]:
labels_gmm_diag_5 = clust(df.T, 5, 'diag')[0]

## 4. Self Organizing Maps

In [29]:
from pyclustering.cluster.somsc import somsc

In [37]:
model = somsc(df.as_matrix(), 5)
model.process()

In [38]:
clusts = pd.DataFrame(model.get_clusters())

In [39]:
clusts.max().max()

478.0

In [40]:
clusts

,0,1,2,3,4,5,6,7,8,9,...,139,140,141,142,143,144,145,146,147,148
0,1,11,18,20,34,36,46,63,81,92,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0,7,10,27,33,37,39,41,44,55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,4,5,6,9,13,30,31,38,45,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,17,21,24,26,32,35,40,42,50,57,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2,8,12,14,15,16,19,22,23,25,...,432.0,439.0,443.0,451.0,455.0,463.0,466.0,469.0,470.0,476.0